{% extends "base.html" %}

{% block content %}

<div class="page-title about-page">
    <h1 class="mt-3 text-justify">About Us</h1>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sub-title">Welcome to Hungry Chef, a food blog that's all about sharing delicious recipes,
                    culinary inspiration, and community.
                </h3>
                <p class="mt-3 text-justify">
                    We believe that everyone has something to offer, whether it's a family recipe passed down through 
                    generations, a new twist on a classic dish, or a totally original creation. So, whether you are a 
                    proffessional chef, or just cooking at home, or just hungry, we invite you to join us on this delicious journey.
                </p>
                <hr>
                <p class="text-justify">We believe that cooking is more than just a hobby – it's a form of 
                    self-expression, a way to nourish both the body and the soul, and a way to connect with others. 
                    We're passionate about inspiring and empowering our community members to explore the world of cooking, 
                    and to share their love of food with others.
                </p>
                <div class="enjoy-box mb-5">
                    <span>Enjoy!!</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="sub-title">Fun Facts</h3>
                <p class="mt-3 text-justify">
                    Did you know that chocolate was used as currency by the Aztecs and Mayans?
                </p>
                <hr>
                <p class="text-justify">
                    Honey is the only food that does not spoil and can last indefinitely.
                </p>
                <hr>
                <p class="text-justify">
                    The world's oldest known recipe is for beer, and dates back over 5,000 years.
                </p>
            </div>
        </div>
    </div>
</div>


{%endblock%}