{% extends "base.html" %}
{% block title %}Add Cookbook{% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Create Cookbook</h1>
    </div>
    <!-- add cookbook form -->
    <div>
        <form class="form-control row" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col">
                <p>Title:</p>
                {{ form.title }}
                <br><br>
            </div>
            <div class="col">
                <p>Content:</p>
                {{ form.content }}
                <br><br>
            </div>
            <div class="col">
                <p>Image:</p>
                {{ form.featured_image }}
                <br><br>
            </div>
            <div class="col">
                <p>Recipes:</p>
                <p class="small text-muted">Hold CTRL or COMMAND + click to select multiple recipes</p>
                {{ form.recipes }}
                <br><br>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary" value="Save">Add Cookbook</button>
            </div>
        </form>
    </div>

{% endblock %}