{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Hungry Chef</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/docs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/docs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/docs/favicon/favicon-16x16.png">
    <link rel="manifest" href="/docs/favicon/site.webmanifest">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="logo-text">Hungry</span><span class="logo-c">Chef</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'recipes' %}">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'cookbooks' %}">Cookbooks</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    {% if user.profile.id %}
                    <li class="nav-item">
                        <a href="{% url 'profile_page' user.profile.id %}"><p class="nav-link">{{ user.username | slice:":10" }}</p></a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'create_profile' %}"><p class="nav-link">Create Profile</p></a>
                    </li>
                    
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex" method="POST" action="{% url 'search_results' %}">

                    {% csrf_token %}

                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Message -->
    <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                  {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=1600" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1600" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1600" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer 
    mostly taken from: https://mdbootstrap.com/docs/standard/navigation/footer/
    -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/"  class="me-4 link-secondary" target="_blank" rel="noopener" aria-label="Go to the facebook Hungry Chef page">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com/"  class="me-4 link-secondary" target="_blank" rel="noopener" aria-label="Go to the twitter Hungry Chef page">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/"  class="me-4 link-secondary" target="_blank" rel="noopener" aria-label="Go to the instagram Hungry Chef page">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/"  class="me-4 link-secondary" target="_blank" rel="noopener" aria-label="Go to the linkedin Hungry Chef page">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.github.com/"  class="me-4 link-secondary" target="_blank" rel="noopener" aria-label="Go to the github Hungry Chef page">
            <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
  
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fal fa-cheeseburger fa-spin"></i>Hungry Chef
            </h6>
            <p>
              Don't wait! Join our amazing comunity, and share your ideas! 
            </p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Usher's Island - Dublin 8</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@hungrychef.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i>  + 123 456 7890</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Copyright -->
    <div class="text-center p-4">
      © Copyright | Hungry Chef | 2023 
    </div>
  </footer>
</body>

</html>