{% extends "base.html" %}

{% block content %}
<section id="content" class="content">
    <div class="page-title">
        <h1>Categories</h1>
    </div>
    <div class="container box-shadow">
        <div class="row">
            {{ cats }}
            {% for category in object_list %}
            <div class="container-lg categories-cont row">
                <div class="card text-white">
                    {% if 'placeholder' in category.category_image.url %}
                    <img src="https://images.pexels.com/photos/2611817/pexels-photo-2611817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="...">
                    {% else %}
                    <img src="{{ category.category_image.url }}" class="card-img" alt="...">
                    {% endif %}
                    <a href="{% url 'categories_recipes' category.title %}">
                        <div class="card-img-overlay category-title">
                            <h5 class="card-title">{{ category.title }}</h5>
                        </div>
                    </a>
                </div>
            </div>            
            {% endfor%}
        </div>
    </div>
</section>
{% endblock %}