{% extends "base.html" %}

{% block content %}
    {% for category in object_list %}
    <div class="container-lg categories-cont row">
        <div class="card bg-dark text-white">
            {% if 'placeholder' in category.category_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="card-img" alt="...">
            {% else %}
            <img src="{{ category.category_image.url }}" class="card-img" alt="...">
            {% endif %}
            <div class="card-img-overlay category-title">
                <h5 class="card-title">{{ category.title }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}