{% extends "base.html" %}
{% block title %}Delete Profile{% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Delete Profile</h1>
    </div>
    <!-- delete profile form -->
    <div class="page-title">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Are you sure you want to delete your profile? We will be sorry to see you leave.</p>
            <button type="submit" class="btn btn-outline-danger" value="Save">Delete Profile</button>
        </form>
    </div>

{% endblock %}